<div class="container-fluid">
	<div class="row top">
	
	</div>
</div>
<div class="container">
	<div class="row form_space">
		<div class="col-lg-6">
			<%= render "event" %>
		</div>
		<div class="col-lg-6">
			<legend>Documentation</legend>
			<h4>Event Form</h4>
			<p>Keep your event descriptions short. Begin by stating the event catagory, then clarify what's happening.</p>
			<p>Examples:</p>
			<ul>
				<li>CONCERT: Kurt Vile</li>
				<li>QUIZZO: 2nd Street Pub @ 9 p.m.</li>
				<li>FOOTBALL GAME: Eagles vs. Giants 4 p.m. @ Jared's House</li>
			</ul><hr />
			<h4>Event Link</h4>
			<p>You must copy the entire link (it has to start with http://). You can leave this field blank.</p><hr />
		</div>
	</div>
</div>