<div class="container-fluid">
	<div class="row top">
		<div class="col-lg-12">
			
		</div>
	</div>
</div>
<div class="container">
	<div class="row game">
		<div class="col-lg-7">
		    <div class="wrap_game"><div id="player"></div></div>
		    <div class="hider"><img src="/assets/AElogo.svg" height="65" /></div>
		    <div id="game_over">Game Over</div>
		</div>
		<div class="col-lg-5">
			<ul class="button_row">
				<!-- <li><div class="btn btn-default" onclick="starter()">Start Game</li> -->
				<li><div class="btn btn-default" onclick="reloader()">Reshuffle Game List</div></li>
				<li><a href="#" class="btn btn-default" onclick="hider()">Difficulty Toggle</a></li>
				<li><a href="/leaderboard" class="btn btn-default">Leaderboard</a></li>
				<!-- <li><div class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Pick a Song List  <span class="caret"></span></button>
					<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">The Album Exchange</a></li>
					</ul>
				</div></li> -->
			</ul>
			<div id="your_score" class="current_score">Your Score Is: <span id="score">...</span></div>
			<input type="text" id="guess" placeholder="Guess The Artist..." />
		    <button onclick="submit()" href="javascript:;" id="submit_guess">Submit</button>
		</div>
	</div>
</div>

<script type='text/javascript'>

(function()
{
  if( window.localStorage )
  {
    if( !localStorage.getItem( 'firstLoad' ) )
    {
      localStorage[ 'firstLoad' ] = true;
      window.location.reload();
    }  
    else
      localStorage.removeItem( 'firstLoad' );
  }
})();

  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  var player;
  function onYouTubePlayerAPIReady() {
    player = new YT.Player('player', {
      playerVars: {
        showinfo: 0,
        controls: 0, 
        minimalbranding: 0,
        disablekb: 0
      },
     loadPlaylist:{
        listType:'playlist',
        list:gon.youtube,
        index:parseInt(0),
        suggestedQuality:'small'
     },
      events: {
        'onReady': onPlayerReady,
        'onStateChange': onPlayerStateChange
      }
    });
  }
</script>
