<div class="container-fluid">
	<div class="row top">
		
	</div>
</div>
<div class="container">
	<div class="row form_space">
		<div class="col-lg-6">
			<%= render "historic_post" %>
		</div>
		<div class="col-lg-6 doc">
			<legend>Documentation</legend>
			<h4>Dates</h4>
			<p>There is no validation for past dates, so make sure they are correct!</p>
			<hr />
			<h4>Quote</h4>
			<p>Do not put " " marks around your quote.</p><hr />
			<h4>URLs</h4>
			<p>Make sure to copy the entire link (it needs to start with http://). The picture links must end with .jpg, .jpeg, or .png.</p><hr />
			<h4>Band Picture URL</h4>
			<p>Band Pictures must be <strong>rectangular</strong>, the width must be longer than the height, and the width must be between <strong>800 pixels</strong> and <strong>2000 pixels</strong>.</p><hr />
			<h4>Album Cover</h4>
			<p>Album Covers must be <strong>square</strong>, with a width between <strong>200 pixels</strong> and <strong>500 pixels</strong>.</p><hr />
		</div>
	</div>
</div>
