<div class="container-fluid">
	<div class="row top">
		<div class="col-lg-12">
			<% if !current_user.nil? %>
			<a href="/history" class="btn btn-default right">Enter Historic Album</a>
			<% end %>
			<a class="btn btn-default right">Sort By</a>
		</div>
	</div>
</div>
<div class="container">
	<div class="row albums">
		<% if !@posts_sorted.nil? %>
			<% @posts_sorted.sort_by(&:date).reverse.each do |x| %>
				<div class="col-lg-3 col-sm-6">
					<ul class="past_album_list">
						<li>
							<div class="art"><%= image_tag x.album_art %></div>
							<%= link_to x.band_name.first(22), "posts/#{x.id}" %><br />
							<%= link_to x.album_name.first(22), "posts/#{x.id}" %>
						</li>
					</ul>
				</div>
			<% end %>
		<% end %>
	</div>
</div>

