/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

$c1: #006BB2;
$c2: darkred;
$c3: #f3f3f3;
$cb: #a4a4a4;
$time: 1.5s;
$x: 14.285%;
$fontFooter: "Gill Sans", "Gadugi", Sans-Serif;

body {
	width: 100%;
	height: 100%;
}
// Layout Application Page -----
.logo {
	position: absolute;
	top: 14.5px;
	left: 14.5px;
	padding: 10px 5px;
	border: 1px solid #a7a7a7;
	width: 233px;
	height: 55px;
	z-index: 900;
	background-color: rgba(255, 255, 255, 0.5);
}
.footer {
	width: 100%;
	height: 50px;
	bottom: 0;
	position: fixed;
	background-color: $c3;
	z-index: 999;
	color: $c2;
	font-size: 1.2em;
	font-family: $fontFooter;
	border-top: 1px solid $cb;

	.footer_wrap {
		width: 100%;
		height: 100%;
		position: relative;

		.left_footer {

			ul {
				list-style-type: none;
				padding: 0px;
				margin: 0px;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);

				li {
					display: inline-block;
					margin: 0px 15px; 
				}
			}
		}

		.right_footer {

			ul {
				padding: 0px;
				margin: 0px;
				position: absolute;
				top: 50%;
				right: 0%;
				transform: translate(0%,-50%);

				li {
					display: inline-block;
					margin: 0px 15px; 
				}
				.photo {
					margin: 0px 30px 0px 10px;
					display: inline-block;
					
					img {
						border-radius: 40px;
						width: 40px;
						height: 40px;
					}
				}
			}
		}	
	}
}
.btm_logo {
	margin-bottom: 100px;
}

// Home Index Page ----------------------
.grad {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	transition: 2s;

	img {
		width: 100%;
	}
}
.white {
	width: 100%;
	height: 40%;
	z-index: 0;
	position: absolute;
	top: 60%;
	left: 0;
	background: -webkit-linear-gradient(rgba(1,1,1,0.0), #FFF);
	background: -mox-linear-gradient(rgba(1,1,1,0.0), #FFF);
	background: -ms-linear-gradient(rgba(1,1,1,0.0), #FFF);
	background: -o-linear-gradient(rgba(1,1,1,0.0), #FFF);
	background: linear-gradient(rgba(1,1,1,0.0), #FFF);
}
// .grad::after {
// 	content: "";
// 	position: absolute;
// 	width: 100%;
// 	height: 35%;
// 	bottom: 0;
// 	background: -webkit-linear-gradient(rgba(1,1,1,0.0), #FFF);
// 	background: -mox-linear-gradient(rgba(1,1,1,0.0), #FFF);
// 	background: -ms-linear-gradient(rgba(1,1,1,0.0), #FFF);
// 	background: -o-linear-gradient(rgba(1,1,1,0.0), #FFF);
// 	background: linear-gradient(rgba(1,1,1,0.0), #FFF); 
// }
.band {
	font-size: 5em;
}
.album {
	margin-bottom: 40px;
	font-size: 4em;
}
.author {

	img {
		border-radius: 50px;
		width: 40px;
		height: 40px;
		margin-right: 20px;
		margin-top: -4px;
	}
}
.write_up {
	font-size: 1.2em;
	margin: 0px 15px 0px 0px;	
	text-align: justify;
	text-indent: 15px;
}
.image_album img {
	float: left;
	margin: 0px 35px 25px 0px;
	width: 260px;
}
.comment_list {
	list-style-type: none;
	margin: 0px;
	padding: 0px;

	.comment_item {

		.left_comment {
			float: left;
			
			img {
				height: 35px;
				width: 35px;
				margin-top: 4px;
				border-radius: 50px;
			}
		}
		.right_comment {

			.comment_date {
				color: #a7a7a7;
			}
			span {
				margin-left: 15px;
			}
		}
	}
}
.tit {
	position: absolute;
	left: 25px;
	bottom: 20px;
	font-family: "Futura";
	color: darkred;
	font-weight: 700;
	letter-spacing: 2px;
}
.rel {
	position: relative;
	height: 100%;
	width: 100%;
}
.top_home {
	height: 100vh;
}
.stuff {
	margin: 40px 0px 25px 0px;
}
.bottom {
	margin: 45px 0px 75px 0px;
}
.center {
	text-align: center;
}
.quote {
	font-size: 3em;
	font-weight: 800;
	font-family: "Futura";
	color: darkred;
	font-style: italic;
}
.quote:before {
	content: "'"
}
.quote:after {
	content: "'"
}
.wrap_mini {
	width: 100%;
	position: relative;
}
.post_date {
	font-size: 24px;
	font-weight: 500;
}
// Post Index Page ------------------------
.datum {
	margin-left: 5px;
}
.user img {
	margin-top: -3px !important;
}

// Past Album Page ------
.top {
	background-color: $c3;
	height: 85px;
	border-bottom: 1px solid $cb;
}
.right {
	float: right;
	margin: 24px 5px 0px 5px;
}
.albums {
	margin-top: 50px;
	margin-bottom: 60px;
}
.past_album_list {
	list-style-type: none;
	margin-bottom: 90px;
	padding: 0px;
	text-align: center;

	li {
		display: inline-block;
		border: 1px solid $cb;
		// box-shadow: 1px 1px 3px #9f9f9f;
		background-color: $c3;
		padding: 10px 10px 6px 10px;
		text-align: left;
		// width: 222px;
		// height: 267px;
		position: relative;

		.art {
			width: 200px;
			height: 200px;
			margin-bottom: 5px;
			background-color: darkblue;

			img {
				width: 100%;
			}
		}
		.names {
		}
		.user {
			position: absolute;
			bottom: -28px;
			left: 5px;
			
			.blues {
				color: $c1;
			}
			img {
				width: 20px;
				height: 20px;
				border-radius: 40px;
				margin-top: 4px;
				margin-right: 7px;
			}
		}
	}
}

// Historic Album Page --------
.spacer {
	margin-top: 115px;
}
.spacer2 {
	margin-top: 20px;
}
// Calendar -----------------
.cal {
	margin: 10px 0px 100px 0px;
}
.calendar {
	width: 100%;
	border-collapse: collapse;

	th, td {
		border: 1px solid $cb;
		padding: 5px;
		font-family: "Futura";
	}
	th {
		background-color: $c2;
		color: white;
		text-align: center;
		width: $x;
	}
	td {
		height: 10.3vw;
		width: $x;
		vertical-align: top;
	}
	td.notmonth {
		color: $cb;
	}
	td.today {
		border: 2px solid $c1;
		background-color: lightblue;
	}
	td.jake {
		border: 2px solid #610081;
		background-color: #cc00ff;
	}
	td.jake:after {
		content: "Jake's Pick";
	}
	td.bill {
		border: 2px solid #004c1a;
		background-color: #33cc33;
	}
	td.bill:after {
		content: "Bill's Pick";
	}
	td.jared {
		border: 2px solid #cca300;
		background-color: #ffff00;
	}
	td.jared:after {
		content: "Jared's Pick";
	}
	td.andrew {
		border: 2px solid #ba7814;
		background-color: #ffa319;
	}
	td.andrew:after {
		content: "Andrew's Pick";
	}
	td.steve {
		border: 2px solid #00cca3;
		background-color: #00ffcc;
	}
	td.steve:after {
		content: "Steve's Pick";
	}
	.date_list {
		list-style-type: none;
		padding: 0px;
		margin: 5px 0px;

		a {
			text-transform: capitalize;
		}
	}
	.concert a {
		color: $c2;
		text-transform: uppercase;
	}
}
.months {
	text-align: center;
	margin-bottom: 10px;

	a {
		font-size: 1em;
		color: lightgray;
	}
}
.month {
	font-size: 2em;
	color: $c2;
}
// Game Page -------------------------
.game {
	margin: 50px 0px;
	position: relative;
}
.img {
	width: 40px;
	height: 40px;
	border-radius: 40px;
	background-color: darkblue;
}
#submit_guess {
	border: 1px solid darkred;
	background-color: white;
	width: 15%;
	height: 35px;
	font-size: 15px;
	margin: 90px 20px;
	float: left;
	color: gray;
	border-radius: 5px;
}
.button_row {
	list-style-type: none;
	padding: 0px; 
	margin: 0px;

	li {
		display: inline-block;
		padding: 0px;
		margin: 0px;
	}
}
.current_score {
	margin: 80px 0px 30px 0px;
	font-size: 2em;
	color: gray;
}
#guess {
	font-size: 2.5em;
	width: 75%;
	margin-top: 80px;
	border: none;
	float: left;
	border-bottom: 2px solid darkred;
}
#guess:focus, #submit_guess:focus {
	outline: none;
}
#game_over {
	display: none;
	font-size: 5em;
	font-weight: 700;
	position: absolute;
	color: red;
	top: 0px;
	left: 25px;
	top: 70px;
	z-index: 500;
}
.hider {
	position: absolute;
	top: 0px;
	left: 15px;
	width: 600px;
	height: 400px;
	background-color: black;
	z-index: 400px;
	color: white;
	font-size: 2em;
	padding: 15px;
}
.wrap_game {
	width: 600px;
	height: 400px;

	#player {
		width: 100%;
		height: 100%;
	}
}
// Leaderboard ------------------
.round {
	img {
		border-radius: 30px;
		width: 30px;
		height: 30px;
	}
}
th {
	font-size: 1.5em;
	color: $c2;
	font-weight: 600;
	font-style: italic;
}


// Form -------------------------
img {
	width: 100%;
}
.field input {
	width: 100%;
	padding: 10px;
	margin: 10px 0px;
	background-color: #fafafa;
	border: 1px solid #a7a7a7;
	// border-left: 2px solid darkred;
	// border-top: 1px solid #a7a7a7;
	// border-bottom: 1px solid #a7a7a7;
	// border-right:1px solid #a7a7a7;
	// box-shadow: 2px 2px 3px #efefef;
	// border-radius: 5px;
}
.field label {
	color: #a7a7a7;
	// border-left: 3px solid $c2;
	font-weight: 400;
	padding: 10px;
}
legend {
	color: $c2;
	font-style: italic;
}
#post_write_up {
	height: 300px;
	width: 100%;
	padding: 10px;
	margin: 10px 0px;
	background-color: #fafafa;
	border: 1px solid #a7a7a7;
	// border-top: 1px solid #a7a7a7;
	// border-bottom: 1px solid #a7a7a7;
	// border-right:1px solid #a7a7a7;
}
.form_space {
	margin: 25px 0px 100px 0px;
}
#post_date_1i, #post_date_2i, #post_date_3i, #event_date_1i, #event_date_2i, #event_date_3i {
	border: 1px solid #a7a7a7;
	border-radius: none;
	// border-top: none;
	// border-right: none;
	// border-bottom: none;
	padding: 10px;
	margin: 0px 10px 10px 0px;
	// box-shadow: 2px 2px 3px #efefef;
}
.form_btn {
	border: 1px solid darkred;
	background-color: white;
	width: 200px;
	height: 35px;
	font-size: 15px;
	// float: left;
	color: gray;
	border-radius: 5px;
}
.doc {
	h4 {
		color: darkred;
	}
	p, ul {
		color: #777;
	}
}

// Sign In Form --------------------
.check label{
	// border-left: 3px solid $c2;
	color: #a7a7a7;
	padding: 10px;
	font-weight: 400;
	// margin-top: 10px;
}

// Edit Posts ----------------------
.edit_posts {
	th {
		padding: 0px 25px;
	}
	td {
		padding: 10px 25px;
	}
}





